.button{
    background-color: #138080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
    
    text-decoration: none;
    
  }
  .button:hover {
    background-color: rgb(54, 71, 7);
  }
  .input{
    background-color: #a5c7f5;
     padding: 10px;
     font-size: 16px;
     width: 100%;
     border-radius: 5px;
     border: none;
     margin-bottom: 20px;
   }

   .fieldset
   {
    border-radius: 25px;
    margin-top: 25px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 5px 10px rgba(142, 126, 168, 0.1);
    width: 90%;
   }
   
   body {
   
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    font-family: "Helvetica", Sans-Serif;
    
  }

  .btn{
    background-color: #0f9bec;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
    text-align:center; 
    vertical-align:middle;
    text-decoration: none;
    display: inline-block; 
    width: 100px;
   
    
  }
  .btn:hover {
    background-color: darkred;
  }